@model SettingsViewModel

<h2>Innstillinger</h2>

<h3> Current Company: </h3>

<form asp-action="Update">
    @foreach (var setting in Model.Settings)
    {
        <div class="row">
            <div class="col-sm-2">
                Innstilling
            </div>
            <div class="col-sm-4">
                <label>CompanyId: </label>
                <input name="CompanyId" value="@setting.CompanyId"/>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-default" value="Lagre" />
            </div>
        </div>
        <input type="hidden" name="Setting.Value" value="@setting.Value"/>
        <input type="hidden" name="Setting.Key" value="@setting.Key"/>
        <input type="hidden" name="Setting.Id" value="@setting.Id"/>
    }
</form>
